@use 'globals' as *;

/* ===== HEADER ===== */
header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__left {
    display: flex;
    align-items: center;

    h3 {
      color: $color-primary;
    }

    p {
      color: $color-muted;
    }
  }

  .header__right {
    display: flex;
    align-items: center;

    .header__nav {
      /* todo */

      .header__link {
        /* todo */
      }
    }

    .header__button {
      /* todo */

      p {
        padding: 0.5rem;
      }
    }
  }
}