@use 'globals' as *;

/* ===== TERMINAL ===== */
.terminal__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid $color-muted;
  border-radius: 0.75rem;
}

.terminal__header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid $color-muted;

  .terminal__dots {
    display: flex;

    .terminal__dot {
      padding-right: 0.5rem;
      outline: 1px solid grey;
    }
  }
  
  .terminal__title {

    .title__text {
      color: $color-primary;
    }
  }
}

.terminal__content {
  display: flex;
  padding: 1rem;
  flex-direction: column;

  .terminal__command {
    display: flex;

    .terminal__map {
      color: $color-primary;
    }

    .terminal__text {
      color: $color-muted;
    }
  }

  .terminal__details {
    display: flex;
    flex-direction: column;

    .details__text {
      color: $color-text;
    }
  }
}