/* ===== COLORS ===== */
.outline {
  outline: 1px solid yellow;
}

/* ===== SPACING ===== */
/* ===== RADIUS ===== */
/* ===== BORDERS ===== */
/* ===== SHADOWS ===== */
/* ===== RESET ===== */
html {
  background-color: #16181d;
  color: #9ca3af;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p,
figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a {
  text-decoration: none;
  color: #9ca3af;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

svg {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

/* ===== HEADER ===== */
header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__left {
  display: flex;
  align-items: center;
}
header .header__left h3 {
  color: #22c55e;
}
header .header__left p {
  color: #9ca3af;
}
header .header__right {
  display: flex;
  align-items: center;
}
header .header__right .header__nav {
  /* todo */
}
header .header__right .header__nav .header__link {
  /* todo */
}
header .header__right .header__button {
  /* todo */
}
header .header__right .header__button p {
  padding: 0.5rem;
}

/* ===== OPEN PROJECTS ===== */
.open__projects {
  display: flex;
  flex-direction: column;
}

.open__title {
  display: flex;
  color: #e5e7eb;
}
.open__title .title__text {
  display: flex;
  flex-direction: column;
}
.open__title .title__text .title__sign {
  color: lightblue;
}
.open__title .title__text .title__title {
  color: #e5e7eb;
}
.open__title .title__description {
  display: flex;
}
.open__title .title__description .description__text {
  color: #9ca3af;
}

.open__cards {
  display: flex;
}

.open__card {
  display: flex;
  flex-direction: column;
  background-color: #181c20;
  border: 1px solid #9ca3af;
  border-radius: 0.75rem;
}
.open__card .card__img {
  width: 100%;
  height: auto;
}
.open__card .card__text {
  display: flex;
  flex-direction: column;
}
.open__card .card__text .card__title {
  color: #e5e7eb;
}
.open__card .card__text .card__description {
  color: #9ca3af;
}
.open__card .card__link {
  display: flex;
}
.open__card .card__link .link__open {
  color: #e5e7eb;
}
.open__card .card__link .link__projectname {
  color: #22c55e;
}

/* ===== TERMINAL ===== */
.terminal__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #181c20;
  border: 1px solid #9ca3af;
  border-radius: 0.75rem;
}

.terminal__header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #9ca3af;
}
.terminal__header .terminal__dots {
  display: flex;
}
.terminal__header .terminal__dots .terminal__dot {
  padding-right: 0.5rem;
  outline: 1px solid grey;
}
.terminal__header .terminal__title .title__text {
  color: #22c55e;
}

.terminal__content {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.terminal__content .terminal__command {
  display: flex;
}
.terminal__content .terminal__command .terminal__map {
  color: #22c55e;
}
.terminal__content .terminal__command .terminal__text {
  color: #9ca3af;
}
.terminal__content .terminal__details {
  display: flex;
  flex-direction: column;
}
.terminal__content .terminal__details .details__text {
  color: #e5e7eb;
}