/* ===== BORDER-STYLE ===== */
$border-style: solid !default;

/* ===== BORDER-WIDTH ===== */
$border-width-thin: 1px !default;
$border-width-thick: 2px !default;

/* ===== BORDER-COLOR ===== */
$border-color: rgba(0, 0, 0, 0.12) !default;
$border-color-strong: rgba(0, 0, 0, 0.18) !default;
$border-color-inverse: rgba(255, 255, 255, 0.25) !default;