/* ===== BORDER-STYLE ===== */
$border-style: solid !default;

/* ===== BORDER-WIDTH ===== */
$border-width-thin: 1px !default;
$border-width-thick: 2px !default;

/* ===== BORDER-COLOR ===== */
$border-color: rgba(255, 255, 255, 0.88) !default;