/* ===== BASIC ===== */
$radius-none: 0 !default;
$radius-xs: 4px !default;     // finom sarkítás (inputok, kisebb elemek)
$radius-sm: 6px !default;     // gombok, kisebb kártyák
$radius-md: 8px !default;     // alap kártya, szekció doboz
$radius-lg: 12px !default;    // kiemelt kártya, nagyobb panelek
$radius-pill: 999px !default;