@use '../base/globals' as *;

/* ===== HERO ===== */
main {
  display: flex;
  justify-content: space-between;

  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .main__intro {

    }

    .main__name {
      color: $color-text;
    }

    .main__description {

    }
  }
}

.main__buttons {
  display: flex;

  .main__button {
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 0.25rem;
    margin-right: 1rem;
  }

  .main__button:hover {
    cursor: pointer;
  }

  .main__button--work {
    background-color: $color-primary;
  }

  .main__button--contact {
    background-color: transparent;
    color: $color-text;
    outline: 1px solid $color-muted;
  }
}

.main__profile {
  width: 10rem;
  height: 10rem;

  .main__profile__pic {
    width: 100%;
    height: auto;
  }
}