@use "sass:map";

/* ===== UTILITIES BREAKPOINTS ===== */
$breakpoints: (
  mobile: 375px,
  tablet: 768px,
  desktop: 1024px,
  xl: 1280px 
);

@function bp($key) {
  @if map.has-key($breakpoints, $key) {
    @return map.get($breakpoints, $key);
  } @else {
    @warn "Ismeretlen breakpoint: #{$key}. Használd a kulcsokat: #{map.keys($breakpoints)}";
    @return null;
  }
}

@mixin screen($size) {
  $val: bp($size);
  @if $val != null {
    @media (min-width: $val) { @content; }
  }
}

/*
.test {
  width: 100%;
  @include screen(tablet)  { width: 90%; }
  @include screen(desktop) { width: 80%; }
  @include screen(xl)      { width: 72vw; }
}
*/